* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  background-color: wheat;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.2em;
  line-height: 0.9em;
  text-transform: uppercase;
  padding: 0.5em;
}

nav ul {
  list-style-type: none;
}

nav ul li,
div.button {
  display: block;
  width: 100%;
  background-color: #555555;
  text-align: center;
  font-size: 2em;
}

div.button {
  height: 4em;
  background-color: rgb(20, 20, 20);
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: rgb(245, 227, 62);
  height: 3em;
}

nav ul li a:hover:not(.active) {
  border: 0.2em solid black;
  border-radius: 0.5em;
}

.active {
  color: black;
  border: 0.2em solid rgb(252, 191, 80);
  border-radius: 0.5em;
}

header {
  background-image: url(/Images/pexels-photo.jpg);
  padding: 3em;
  text-align: center;
  color: white;
  border-bottom: 0.5em solid chocolate;
}

header h1 {
  font-size: 8em;
  padding-top: 0.5em;
  margin-bottom: 0.75em;
}

header p {
  margin-top: 1em;
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.2em;
  margin-bottom: 1em;
}

a.btn {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bolder;
  background-color: rgb(97, 40, 6);
  color: black;
  margin: 1em;
  padding: 2em;
  border-radius: 2em;
  text-decoration: none;
  border: 2px solid black;
}

a.btn:hover {
  background-color: black;
  border: 2px solid white;
  color: white;
}

blockquote {
  padding: 1em;
  background-color: rgb(189, 163, 107);
  font-size: 2em;
  line-height: 1.2em;
  text-align: center;
}

#titles {
  width: 100%;
  height: 150px;
  font-size: 2em;
  padding: 1em;
  background-color: rgb(75, 36, 9);
  overflow: hidden;
}

div#titles h3 {
  text-align: center;
  text-transform: capitalize;
  color: white;
  line-height: 1.5em;
  /* display: -webkit-flex; */
  clear: both;
}

#myfollow {
  padding: 1em;
  line-height: 3em;
  background-color: rgb(75, 36, 9);
  /* display: -webkit-flex; */
  clear: both;
}

div#myfollow h3 {
  font-size: 3em;
  text-align: center;
  text-transform: capitalize;
  color: white;
}

.articles {
  margin: 2em;
}

.articles section {
  text-align: center;
}

.articles section p {
  text-align: justify;
  line-height: 2em;
}

.articles section img {
  width: 100%;
  border-radius: 5px;
}

.red {
  color: rgb(241, 122, 10);
  line-height: 1.2em;
  text-align: center;
}

.black {
  color: rgb(241, 122, 10);
  /* margin: 47.5%; */
  display: inline;
  padding-left: 2em;
}

#one {
  float: left;
  width: 10%;
  height: 100px;
  margin-left: 5%;
  display: block;
}

#two {
  clear: both;
  width: 10%;
  height: 100px;
  margin-left: 30%;
  display: inline-block;
}

#three {
  float: right;
  width: 10%;
  height: 100px;
  margin-right: 7%;
  display: block;
}

footer#second {
  padding: 2em;
  color: white;
  background-color: rgb(75, 34, 4);
  text-transform: uppercase;
  line-height: 3em;
  text-shadow: 0.3em 0.3em black;
  border-radius: 0.5em;
}
footer#second h1 {
  text-align: center;
}

@media screen and (min-width: 600px) {
  nav {
    background-color: #555555;
  }

  nav ul li {
    display: inline-block;
    width: 8em;
  }
  .articles section {
    float: left;
    width: 30.1%;
    margin-right: 3.22%;
  }

  .articles section :last-child {
    margin-right: 0;
  }
  .articles section img {
    height: 22em;
  }
  .articles section p {
    color: rgb(124, 118, 29);
    height: 22em;
    overflow: hidden;
  }
}
